@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
html,
body {
  font-family: 'Roboto Mono', monospace;
  background: #1d1d1d;
  height: 100 vh;
  width: 100 vw;
  overflow-x: hidden;
}
.container {
  height: 100 vh;
  width: 100 vw;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  position: relative;
  text-align: center;
  font-weight: 100;
  font-size: 3.5vh;
  color: #fafafa;
}
.dud {
  color: #757575;
}
.head{
    padding-top: 50vh;
    width: 100%;
    margin-bottom: 60vh;
}
.card{
  width: 100%;
  color: #fafafa;
  background-color: #1d1d1d;
  font-size: 3.5vh;
  text-align:center;
  /* padding-left: 10vw; */
  padding-right:10vw;
  padding-top: 50vh;
  padding-bottom:50vh;
  margin: left 50% vw, 50%top 50%vw, right 50% vw,bottom 50%vh;
}
.grad-text {
  --bg-size: 400%;
  --color-one: #EA047E;
  --color-two: #FF6D28;
  --color-three: #FCE700;
  --color-four: #00F5FF;
<<<<<<< HEAD
  --color-one: #EA047E;
=======
>>>>>>> 0ab39d8030beae383840e2e5a41b9a40ccc36c80
  font-family: 'Raleway', sans-serif;
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-four),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
@media (prefers-reduced-motion: no-preference) {
  .grad-text {
<<<<<<< HEAD
    -webkit-animation: move-bg 2s linear infinite;
            animation: move-bg 2s linear infinite;
=======
    -webkit-animation: move-bg 8s linear infinite;
            animation: move-bg 8s linear infinite;
>>>>>>> 0ab39d8030beae383840e2e5a41b9a40ccc36c80
  }
  @-webkit-keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}