html {
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    /* background: linear-gradient(315deg, hsla(44, 100%, 52%, 1) 0%, rgba(255, 0, 0, 0.922) 100%);    alternate gradients */
    background: linear-gradient(135deg, hsla(339, 100%, 55%, 1) 0%, hsla(217, 100%, 50%, 1) 100%);  /*alternate gradients*/
    /* background: linear-gradient(315deg, hsla(193, 100%, 50%, 1) 0%, hsla(112, 90%, 51%, 1) 100%); */  /*alternate gradients*/
    background-repeat: no-repeat;    
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    text-shadow: #333;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  
div{
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    text-shadow: #333;
}

p{
  font-size: x-large;
}


a:link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #333;
  background-color: transparent;
  text-decoration: underline;
}


.cards{
  margin-top: 1vw;
  padding: 2vw;
  padding-bottom: 4vw;
  padding-right: 2vw;
  float: left;
  text-align: center;
  height: max-content;
  font-size: 5vw;
  width: 100%;
  background-position: center;
  background-size: cover;
  color: black;
  border-radius: 2em;
}

#wide{
  border-radius: 1vw;
  margin: auto;
  width: 50%;
  /* translucent */
  box-shadow: 0 1vw 2vw hsla(0, 0%, 0%, 0.2);
  background-color: rgba(106, 106, 106, 0.1);
  backdrop-filter: blur(14px);
  /* --translucent */
  height: 30vw;
  width: 65vw;  /*95vw for wide*/
  padding-left: 5vw;
  
  /* gradient text properties */
}

.gradient-text{
color: #50BFE6;
}


#wide table{
  border: rgb(137, 221, 226);
  border-style: solid;
  border-radius: 1vw;
  border-width: 1vw;
}


.image{
  border-radius: 6vw;
  margin-bottom: 3vw;
  margin-right: 3vw;
  margin-left: 3vw;
  height: 30vw;
  width: 40vw;
  overflow: hidden;
}

#image-odd{
  float: left;
}

#image-odd img{
  border-radius: 1em;
  height: 30vw;
  width: 40vw;
}

#image-even img{
  border-radius: 1em;
  height: 30vw;
  width: 40vw;
}

.message{
  margin-top: 6vw;
  font-size: 5vw;
}

#image-even{
  float: right;
}

.center-fold img{
  width: 50vw;
  height: 50vw;
}